.OtpFormComp{

    input[type="text"]{
        // background: transparent;
        // border: none;
        background-color : powderblue; 
        border-radius: 10px;
        height: 1.5em;
    }
    
    .container{
        margin: auto;
        width: 25%;
        padding: 10px;
    }
    
    .headersty{
        text-align: center;
        color: #d39f9f;
    }
    
    .row{
        margin-top: 1em;
        text-align: center;
    }
    
    .col {
        float: left;
        width: 50%;
    }
    
    .otpsty{
        width: 100%;
    }

    .getotp{
        height: 2em;
        border-radius: 10px;
        background-color : powderblue; 
    }
    
    .rowcs{
        text-align: center;
    }
    
    .submitbutton{
        height: 2em;
        border-radius: 10px;
        background-color : powderblue; 
    }
    
    button:disabled {
        background-color: rgba(255, 255, 255, 0.397);
        color: black;
        font-weight: normal;
        cursor:not-allowed
    }
    
}