<div class="LoginFormComp">
    <div class="container">
        <h2 class="headersty">Login</h2>
        <form [formGroup]="loginForm">
            <div class="row">
                <input class="emailsty" placeholder="Email" type="text" formControlName="email">
            </div>
            <div class="row">
                <input class="passwordsty" placeholder="Password" type="text" formControlName="password">
            </div>
            <div class="row">
                <div class="col">
                    <input class="captchasty" placeholder="Captcha" type="text" formControlName="captcha">
                </div>
                <div class="col">

                </div>
            </div>
            <!-- <br style="clear:both;"/>
            <div class="row">
                <div class="col">
                    <input class="otpsty" placeholder="Enter OTP" type="text" formControlName="otp">
                </div>
                <div class="col">
                    <button class="getotp" (click)="onGetOtp()" type="submit" >Get OTP</button>
                </div>
            </div> -->
            <br style="clear:both;"/>
            <div class="row rowcs">
                <button class="submitbutton" type="submit" (click)="onSumbitLogin()" [disabled]="!loginForm.valid">Sign In</button>
                <button class="submitbutton" type="submit" (click)="onSignUp()">Sign Up</button>
            </div>
        </form>
    </div>
</div>