.LoginFormComp{

input[type="text"]{
    // background: transparent;
    // border: none;
    background-color : powderblue; 
    border-radius: 10px;
    height: 2em;
    padding-left: 5px;
}

.container{
    margin: auto;
    width: 25%;
    padding: 10px;
}

.headersty{
    text-align: center;
    color: #ed1e1e;
}

.row{
    margin-top: 1em;
}

.col {
    float: left;
    width: 50%;
}

.emailsty{
    width: 100%;
}

.passwordsty{
    width: 100%;
}

.otpsty{
    width: 90%;
}

.captchasty{
    width: 90%;
}

.getotp{
    height: 2em;
    border-radius: 10px;
    background-color : powderblue; 
}

.rowcs{
    text-align: center;
}

.submitbutton{
    height: 2em;
    border-radius: 10px;
    background-color : powderblue; 
}

button {
    padding: 6px 10px;
    margin: 0.4em 0.4em;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.397);
    color: black;
    font-weight: normal;
    cursor:not-allowed
}

}

:host{
    width: 100%;
    height: 100%
}