/* You can add global styles to this file, and also import other style files */
html,body{
    // background-image: url("./assets/homepage1.jpg");
    // background-size: cover; /* This makes the image cover the entire screen */
    // background-position: center center; /* Center the image horizontally and vertically */
    // background-repeat: no-repeat; /* Prevent the image from repeating */
    // height: 100%; /* Make sure the body element takes up the full height of the viewport */
    // margin: 0; /* Remove default body margin */
    // padding: 0; /* Remove default body padding */
}

video{
    pointer-events: none;
}

#my-background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cdk-overlay-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


.custom-snack-bar {
    background-color: #ff0000; /* Replace with your desired background color */
    color: #ffffff; 
    width: 100%;
    position: center;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.custom-snack-bar-success{
    background-color: #198754; /* Replace with your desired background color */
    color: #ffffff; 
    width: 100%;
    position: center;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.custom-snack-bar-info{
    background-color: #FFBF00; /* Replace with your desired background color */
    color: #ffffff; 
    width: 100%;
    position: center;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}